:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --background-color: var(--lt-color-gray-700);
    --primary-color: #383737;
    --secondary-color: #353434;
    --accent-color: #D73F09;
    --text-color: var(--lt-color-gray-300);
    --border-color: #525151;
    --button-color: #3a3a3a;
    --button-hover-color: #4a4a4a;
    --button-active-color: #5a5a5a;
}

html {
    background-color: var(--accent-color);
}

.App {
    width: 30rem;
    height: 20rem;
    padding: 5px;
    margin: 5px;
}

.container {
    background-color: var(--background-color);
    border-color: var(--border-color);
    border-radius: 5px;
    border-width: 5px;
    border-style: groove;
    display: flex;
    overflow: scroll;
    overflow-x: hidden;
}

.popup-container {
    display: flex;
    align-items: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
    display: none;
}
.popup-container::-webkit-scrollbar {
    display: none;
}

h1 {
    color: var(--text-color);
    padding: 1% 2%;
    margin: 0% 2%;
}

div.CourseLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0% 2%;
    margin: 0% 2%;
}

div.CourseLine p {
    padding-right: 10px;
    color: var(--text-color);
    font-size: medium;
}

div.CourseLine div.text {
    display: flex;
    flex-wrap: nowrap;
    overflow: clip;
}

#course_name {
    white-space: nowrap;
    overflow: hidden;         
    text-overflow: ellipsis;
    max-width: 15rem;
}

div.EndNotify button {
    font-size: medium;
    color: var(--text-color);
    outline: 5px solid transparent;
    border-radius: 2px;
    border-style: groove;
    background-color: var(--button-color);
    align-items: center;
}

div.EndNotify button:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
}

div.EndNotify button:active {
    background-color: var(--button-active-color);
    transform: scale(0.98);
}

.footer {
    padding-left: 1px;
    color: var(--lt-color-gray-900);
    font-weight: 900;
}


/* Sign up form html */
.signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
    text-align: center;
    font-size: 1.2rem; 
    color: var(--lt-color-gray-100);
    background-color: var(--accent-color);

}

.signupForm form {
    background-color: #e65c28; /* Subtler orange */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* shadow for depth */
}

.signupForm button {
    font-size: 1rem; 
    padding: 10px 20px;
    background-color: #f27341; /* Lighter orange for buttons */
    border: none;
    border-radius: 5px;
    color: var(--lt-color-gray-100);
}

.signupForm button:hover {
    background-color: #d85b1e; /* Darker orange on hover */
    cursor: pointer;
}

.signupForm label {
    margin-bottom: 0.5rem;
}

.signupForm input {
    width: 100%;
    max-width: 300px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 1rem;
}
